* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 22, 22);
    background: rgb(36,0,0);
background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(138,11,11,1) 36%, rgba(255,0,78,1) 100%);
}

#banner {
    width: 100%;
}

h1{
    font-size: 50px;
    color: rgb(235, 48, 60);
    text-align: centeR;
    text-transform: uppercase;
}

.textos {
    width: 80%;
    font-size: 30px;
    margin: auto;
    text-align: center;
    color: rgb(235, 233, 233);
}